.middil{
 margin-bottom: 70px;
}

.middil .intro{
 display: flex;
 align-items: center;
}

.intro__boxt{
 display: flex;
}

.middil .intro__link{
 padding: 12px 90px;
}

.middil .middil__img{
 width: 400px;
 height: 599px;
}

.middil .intro__box{
 margin: 0;
 margin-right: 110px;
}